---
name: SvitloBot Monitor
version: 2025.11.1
slug: svitlobot-monitor
description: SvitloBot Monitor check the data from SvitloBot API and send the electricity switching on or off tendency indication for the appropriate DTEK group to the appropriate telegram user/chat/group/forum.
url: https://github.com/andrewjswan/blackout-addons/tree/master/svitlobot-monitor

arch:
  - amd64
  - aarch64

image: ghcr.io/andrewjswan/svitlobot-monitor-addon-{arch}

startup: application
boot: auto
init: false

map:
  - addons:rw
  - all_addon_configs:rw
  - config:rw
  - share:rw
  - ssl:rw

homeassistant: 2024.1.0

panel_icon: mdi:lightning-bolt-circle
panel_title: SvitloBot Monitor

options:
  group: 1.2
  tendency_detect: true
  tendency_detect_period: 7
  tendency_detect_delta: 10
  min: 30
  max: 80
  night_time: "23:8"

schema:
  group: str
  token: password
  chat_id: str
  tendency_detect: bool?
  tendency_detect_period: int?
  tendency_detect_stable_interval: int?
  tendency_detect_delta: int(0,100)?
  step_interval: str?
  min: int(0,100)?
  max: int(0,100)?
  night_time: str?
  add_timestamp: bool?
  debug: bool?
